a:link {
	color: white;
	text-decoration: none;
}

a:visited {}

a:hover {
	text-decoration:underline;
	color:white;
}

a:active {}

* {
	margin:0;
	box-sizing:border-box;
}

body {
	height:100vh;
	width:100vw;
	padding-top:50px;
	background-color:snow;
}

nav {
	overflow: hidden;
	background-color: #27201B;
	position: fixed;
	top: 0;
	width: 100%;
	font-color:white;
}

nav a {
	float:right;
	display: block;
	color: white;
	padding: 14px 16px;
	font-size: 20px;
	font-weight:bold;
	font-family:Trebuchet MS;
	text-decoration:underline;
}

nav a:hover {
	color: white;
	text-decoration:underline;
}
	
h1 {
	font-family:Trebuchet MS;
	font-size:50px;
}

h2 {
	font-family:Trebuchet MS;
	font-size: 35px;
}

h3 {
	font-family:Trebuchet MS;
	font-size: 35px;
	color: saddlebrown;
	margin:30px;
}

p {
	font-family:Trebuchet MS;
	line-height:20px;
	margin:30px;
}

.hero {
	position:relative;
	width:100vw;
	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

.hero::before {
	content: "";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: url(tiramisu_left_kitchen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(60%);
}

.hero-content {
	position: relative;
	font-family: Trebuchet MS;
	color: white;
	text-align: center;
	margin: 0.625rem;
}

.hero-title {
	font-family: Trebuchet MS;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 0;
}

.hero-subtitle {
	font-family: Trebuchet MS;
	font-size: 2rem;
	font-weight: 900;
	margin-top: 1rem;
}

.hero-button {
	background-color: #F1E8DE;
	color: black;
	border: 1px solid #F1E8DE;
	border-radius: 25px;
	margin-top: 5rem;
	padding: 0.9375rem 1.875rem;
	font-family: Trebuchet MS;
	font-size: 1.125rem;
	font-weight: 200;
	cursor: pointer;
}

.breadcrumb {
	font-family: Trebuchet MS;
	padding: 10px 16px;
	list-style: none;
	background-color: linen;
	line-height: 1.6;
}         

.breadcrumb-page a:hover {
	color: black;
	text-decoration: underline;
}

.breadcrumb-page {
	display: inline;
	font-size: 18px;
}

.breadcrumb li {
	display: inline;
	font-size: 18px;
	height:865px;
}	

.breadcrumb li a {
	color:black;
}

.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/";
}

.breadcrumb-indicator {
	color: #5F3920;
	font-weight:bold;
}

ul {
	font-family:Trebuchet MS;
} 
