/* links are white */
	a:link {
		color: white;
		text-decoration: none;
	}

a:visited {}

/* hovered links are underlined and white */
	a:hover, nav a:hover {
		text-decoration:underline;
		color:white;
	}

a:active {}

/* entire content doesn't margins; border box gives padding */
	* {
		margin:0;
		box-sizing:border-box;
	}

/* content's body */
	body {
		height:100vh;
		width:100vw;
		padding-top:50px;
		background-color:white;
		margin: 0px;
	}

main {
	padding-top:70px;
	padding-bottom:50px;
}

/* consistent main navigation menu */
	nav { 
		overflow: hidden;
		background-color: #27201B;
		position: fixed;
		top: 0;
		width: 100%;
		font-color:white;
		z-index:1000;
	}

/* main nav menu links */
	nav a {
		float:right;
		display: block;
		color: white;
		padding: 14px 16px;
		font-size: 20px;
		font-weight: bold;
		font-family: Arial;
		text-decoration:underline;
	}

/* heading 1 style for index page */	
	h1 {
		font-family:Arial;
		font-size:50px;
	}

/* heading 2 style for index page */
	h2 {
	font-family:Arial;
	font-size: 35px;
	}

/* heading 3 is the heading for each page name in breadcrumb */
	h3 {
		font-family:Arial;
		font-size: 35px;
		color: saddlebrown;
		margin:30px;
	}

/* h4 is subheading for each page */
	h4 {
		font-family:Arial;
		font-size: 30px;
		color: black;
		margin:30px;
	}

p {
	font-family:Arial;
	line-height:20px;
	margin:30px;
}

.before-list {
	margin-bottom:10px;
}

.hero {
	position:relative;
	width:100vw;
	height:100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

/* index hero background image */
	.hero::before {
		content: "";
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: url(tiramisu_left_kitchen.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		filter: brightness(60%);
	}

.hero-content {
	position: absolute;
	font-family: Arial;
	color: white;
	text-align: center;
	margin: 0.625rem;
}

.hero-title {
	font-family: Arial;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 0;
}

.hero-subtitle {
	font-family: Arial;
	font-size: 2rem;
	font-weight: 900;
	margin-top: 1rem;
}

/* get started button */
.hero-button {
	background-color: #F1E8DE;
	color: black;
	border: 1px solid #F1E8DE;
	border-radius: 25px;
	margin-top: 5rem;
	padding: 0.9375rem 1.875rem;
	font-family: Arial;
	font-size: 1.125rem;
	font-weight: 200;
	cursor: pointer;
}

/* breadcrumb container */
ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  
  	width: 100%;
	font-family: Arial;
	padding: 10px 16px;
	list-style: none;
	background-color: linen;
	line-height: 1.6;
	position: fixed;
	overflow: hidden;
	z-index:1000;
	display: block;
}   
      
ol.breadcrumb-page a:hover {
	color: black;
	text-decoration: underline;
}

.breadcrumb-page {
	display: inline;
	font-size: 18px;
	
}

ol.breadcrumb li {
	display: inline;
	font-size: 18px;
	height:865px;
	list-style: none;
}	

ol.breadcrumb li a {
	color:black;
	text-align: center;
}

ol.breadcrumb ol {
	margin: 0;
	padding: 0;	
}
	
ol.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

.breadcrumb-indicator {
	color: #5F3920;
	font-weight:bold;
}


ul, ol {
	font-family:Arial;
} 

ol.page-ols, ul.page-links, ul.page-uls {
	margin-left:15px;
	margin-right:30px;
	font-family: Arial;
	margin-bottom:5px;
}

/* unordered list line spacing */
ul li, ol li {
	margin-bottom:5px;
}

.before-list {
	margin-left:30px;
}

.page-link a:hover {
	color: black;
	text-decoration: underline;
}

.page-links li a {
	color:dodgerblue;
}

/* links in ingredients */
.page-links li {
	margin-bottom:5px;
}

/* contact form text */
	input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
 		resize: vertical;
		font-family:Arial;
	}

/* submit button */
	input[type=submit] {
		background-color: #27201B;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

/* hover on submit button */
	input[type=submit]:hover {}

/* container for contact form */
	.container {
		background-color: seashell;
		padding: 30px;
	}
/* labels in forms */	
label {
	font-family:Arial;
}

/* get started image */	
	.tiramisu-cafe-image {
		width: 100%;
		max-width: 400px;
		height: auto;
		padding:30px;
		padding-top:0px;
		background-repeat: no-repeat;
		background-size: contain;
		float:left;
	}

.tiramisu-ingredients-image {
	object-fit:contain;
	padding-left:30px;
	padding-right:30px;
  width: 100%;
  height: auto;

}

.standmixer-image {
	object-fit:contain;
	padding-left:30px;
	padding-right:30px;
  width: 100%;
  height: auto;
}

.preparation-image {
	object-fit:contain;
	padding-left:30px;
	padding-right:30px;
  width: 100%;
  height: auto;
}

.recipe-image {
	object-fit:contain;
	padding-left:30px;
	padding-right:30px;
  width: 100%;
  height: auto;
}

